html, body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
body {
    background: #e0e0e0;
    background-size: cover;
}
#header {
	height: 170px;
	background-image: url("/static/background.jpg");
}
.right {
	height: 100%;
	margin: auto;
	width: 100%;
}
.left {
	height: 100%;
	margin: auto;
}
#question {
	margin-top: 60px;
}
#beeves {
	width: auto;
<<<<<<< HEAD
	height: 90vh;
}

.c {
	font-family: roboto;
}
@import url(https://fonts.googleapis.com/css?family=Roboto);
=======
	height: 80%;
}
#match-qs {
    padding: 0px;
    width: 500px;
}
>>>>>>> aaa8b0848b68bbd947ae733d17c20e0b1f5d76f4
