body {
    background: #CF5300;
	background-image: url("/static/background.jpg");
	background-size: cover;
}
.holder {
    display: inline-block;
}
#bevo_logo {
    transform: translateX(10%);
}
.left {
    float: left;
    width: auto;
}
.right {
    float: right;
    width: auto;
    position: relative;
    top: 50%;
    transform: translateY(60%);
}
#beeves {
	width: auto;
	height: 90vh;
}
.footer_wrapper {
    overflow: hidden;
    width: 100%;
    margin: 10px 0;
    padding: 7px;
}
.error {
    position: fixed; 
    width: 30%;
    top: 50%;
    left: 40%;
    margin-top: -10%;
    margin-left: -10%;
}
