<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ask Beeves</title>
    
    <!-- Latest compiled and minified jQuery build -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Latest compiled and minified Bootstrap JavaScript -->
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/static/typeahead.js"></script>
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="/static/answer.css" rel="stylesheet">
    <link href="/static/typeaheadjs.css" rel="stylesheet">
</head>

<script>

$(function() {
    
    var matchCopy = []; 

    var questions = [];

    var stringData = $.ajax({
                    url: "/static/questions.txt",
                    async: false
                 }).responseText;

    var myRe = /text="(.*?)">/g
    //Split values of string data
    var stringArray = stringData.split('\n');
    for (var i = 0; i < stringArray.length; i++) {
        var myArray = myRe.exec(stringArray[i]);
        if (myArray != null) {
            console.log(myArray[1]);
            questions.push(myArray[1]);
        }
    }

    console.log(questions.length);
    console.log(questions);

    var substringMatcher = function(strs) {
      return function findMatches(q, cb) {
        var matches, substringRegex;

        // an array that will be populated with substring matches
        matches = [];

        // regex used to determine if a string contains the substring `q`
        substrRegex = new RegExp(q, 'i');

        // iterate through the pool of strings and for any string that
        // contains the substring `q`, add it to the `matches` array
        $.each(strs, function(i, str) {
          if (substrRegex.test(str)) {
            matches.push(str);
          }
        });

        cb(matches);
        console.log(matches);
        matchCopy = matches;
      };
    };

    $('.typeahead').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
    },
    {
      name: 'qs',
      source: substringMatcher(questions)
    });

    $('.form-control').keypress(function() {
        console.log("beeves");
    });

    $(".typeahead").keyup(function() {

        if ($('#quest').val().length === 0) {
            $('#match-qs').empty();
            console.log("Empty");
        }

        var events = $('#match-qs');
        $('#match-qs').empty();

        if (matchCopy.length > 5) {
            for (var i = 0 ; i < 5; i++) {
                events.append('<li><a id=' + i + ' href="#">' + matchCopy[i] + '</a></li>');
            }
        } else {
            for (var i = 0; i < matchCopy.length; i++) {
                events.append('<li><a id=' + i + ' href="#">' + matchCopy[i] + '</a></li>');
            }
        }

        $("#match-qs li a").on("click", function() {
            var txtVal = this.text;
            $("#quest").val(txtVal);
            $('#match-qs').empty();
        });

    });

    $('#quest').keyup(function() {
        if ($('#quest').val().length === 0) {
            $('#match-qs').empty();
            console.log("Empty2");
        }
    });

});
</script>

<script>
$(function() {
function shadow(int){
  return "0px "+int/5+"px "+int/3+"px #555"; //shadow equation. accurate to the material design standards (approximately)
}

function update(){
  var list = document.getElementsByClassName("card"); //loop through all HTML elements with the class card. 
  //var list = document.getElementsByTagName("card"); 
  //uncomment line above if you want to use <card> instead of <div class='card'>
  var len = list.length;
  for(i=0;i<len;i++){
    list[i].style.display="block";
    if(!list[i].hasAttribute("no-margin")) //set default styles if no contradicting attributes exist
        list[i].style.margin="25px";
    if(!list[i].hasAttribute("no-height"))
        list[i].style.height="100px";
    if(!list[i].hasAttribute("no-transition"))
        list[i].style.transition=".15s box-shadow";
    if(!list[i].hasAttribute("no-material-border"))
        list[i].style.borderBottom="1px solid #AAA";
    if(!list[i].hasAttribute("no-padding"))
      list[i].style.padding="10px";
    doDepth(list[i]); //looping through all of the elements
  }
}

function setDepth(int,obj,type){
  if(int==null)
    return
  obj.style.boxShadow = shadow(int); //using shadow equation to set css style
  if(type==="hover")
    obj.setAttribute("z",obj.getAttribute("z-hover")); //for when click and hover interfere with eachother
}

function doDepth(i){
  function ga(x) {return i.getAttribute(x);} //easier to call method alias
  
  //getting attributes
  var zh = ga("z-default") || null;
  var zhc = ga("z-click") || null;
  var zhh = ga("z-hover") || null;
  setDepth(zh,i);
  //events of release (mouse leave, mouse up, etc)
  i.onmouseup   = function(){ setDepth(ga("z"),i)};
  i.onmouseout  = function(){ setDepth(zh,i)};
  
  //events of activate (mouse enter, mouse down, etc)
  i.onmousedown = function(){ setDepth(zhc,i)};
  i.onmouseover = function(){setDepth(zhh,i,"hover")};
}

update(); //initial update
});
</script>

<body>
    <div class="holder">
        <div class="navbar">
            <a href="/"><img id="askbeeves_logo" src="/static/askbeeves.png"/></a>
            <div class="col-md-2"></div>
            <form id="question" action="answer" method="post" class="col-md-6">
                <div class="input-group">
                    <input type="text" id="quest" class="form-control typeahead" name="search" value="{{question}}" placeholder="Search for...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
                <div id="matchi" style="z-index: 5">
                    <ul id="match-qs"></ul>
                </div>
            </form>
        </div>
        {{sql}}
        <div class="container right">
            <ul>
                {% for item in answer %} 
                    <div class="card" z-default=10 z-hover=30 no-height style="background:white;">
                      <p style="font-weight:bold;">{{item.title}}</p>
                      <p>{{item.text}}</p>
                    </div>
              {% endfor %}
            </ul>

        </div>
    </div>
</body>
</html>
