<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ask Beeves</title>
    
    <!-- Latest compiled and minified jQuery build -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/typeahead.js"></script>
    
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    <link href="/static/typeaheadjs.css" rel="stylesheet">
</head>

<script>

$(function() {
    
    var matchCopy = []; 

    var questions = [];

    var stringData = $.ajax({
                    url: "/static/questions.txt",
                    async: false
                 }).responseText;

    var myRe = /text="(.*?)">/g
    //Split values of string data
    var stringArray = stringData.split('\n');
    for (var i = 0; i < stringArray.length; i++) {
        var myArray = myRe.exec(stringArray[i]);
        if (myArray != null) {
            console.log(myArray[1]);
            questions.push(myArray[1]);
        }
    }

    console.log(questions.length);
    console.log(questions);

    var substringMatcher = function(strs) {
      return function findMatches(q, cb) {
        var matches, substringRegex;

        // an array that will be populated with substring matches
        matches = [];

        // regex used to determine if a string contains the substring `q`
        substrRegex = new RegExp(q, 'i');

        // iterate through the pool of strings and for any string that
        // contains the substring `q`, add it to the `matches` array
        $.each(strs, function(i, str) {
          if (substrRegex.test(str)) {
            matches.push(str);
          }
        });

        cb(matches);
        console.log(matches);
        matchCopy = matches;
      };
    };

    $('.typeahead').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
    },
    {
      name: 'qs',
      source: substringMatcher(questions)
    });

    $('.form-control').keypress(function() {
        console.log("beeves");
    });

    $(".typeahead").keyup(function() {

        if ($('#quest').val().length === 0) {
            $('#match-qs').empty();
            console.log("Empty");
        }

        var events = $('#match-qs');
        $('#match-qs').empty();

        if (matchCopy.length > 5) {
            for (var i = 0 ; i < 5; i++) {
                events.append('<li><a id=' + i + ' href="#">' + matchCopy[i] + '</a></li>');
            }
        } else {
            for (var i = 0; i < matchCopy.length; i++) {
                events.append('<li><a id=' + i + ' href="#">' + matchCopy[i] + '</a></li>');
            }
        }

        $("#match-qs li a").on("click", function() {
            var txtVal = this.text;
            $("#quest").val(txtVal);
            $('#match-qs').empty();
        });

    });

    $('#quest').keyup(function() {
        if ($('#quest').val().length === 0) {
            $('#match-qs').empty();
            console.log("Empty2");
        }
    });

});

</script>

<body>
    <div class="holder">
        <div class="container left">
            <img id="beeves" src="/static/logo.png" />
        </div>
        <div class="container right">
            <div id="bevo_logo">
                <img id="askbeeves_logo" src="/static/askbeeves.png"/><br/>
            </div>
            <form id='answer' action="answer" method="post">
                <div class="input-group">
                  <input type="text" id="quest" class="form-control typeahead" name="search" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                  </span>
                </div><!-- /input-group -->
            </form>
            <div id="matchi" style="z-index: 5">
                <ul id="match-qs"></ul>
            </div>
            <br/>
            <!--<p style="color:white;">most frequent {{freq}}</p>
            <p style="color:white;">most recent {{rec}}</p>-->
            
            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal-faq">
                Frequently Asked
            </button>
            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal-raq">
                Recently Asked
            </button>
        </div>
    </div>
    <div class="footer_wrapper">
        <footer class="footer">
            <p>&copy;2015. Powered by IBM Watson.</p> 
        </footer>
    </div>
    
    <!-- FAQ -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal-faq">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Frequently Asked Questions</h4>
                </div>
                <div class="modal-body">
                    <p>{{freq}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
    <!-- RAQ -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal-raq">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Recently Asked Questions</h4>
                </div>
                <div class="modal-body">
                    <p>{{rec}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</body>
</html>
