<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Ask Beeves</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
 
</head>
 
<body>
    <div class="holder">
        <div class="container left" >
            <img src="/static/logo.png" />
        </div>
        <div class="container right" >
            <img id="askbeeves_logo" src="/static/askbeeves.png" />
            <br/>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div><!-- /input-group -->
            <br/>
            </p>
        </div>
    </div>
    <footer class="footer">
        <p>&copy; Porter'sMinions</p> 
    </footer>
</body>
 
</html>
