<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Ask Beeves</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="jumbotron">
            <h1>Ask Beeves</h1>
            <input type"text" />
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="question" role="button">Search</a>
            </p>
        </div>
 
        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
 
    </div>
</body>
 
</html>
